
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
}

.mb{
  margin-bottom: 30px;
}

.mt{
  margin-top: 30px;
}

.text-uppercase {
  text-transform: uppercase;
}

/* responsive */
.img-responsive{
	max-width: 100%;
	width: 100%;
}

/*.hide{
	display: none;
}*/