
/*---------------------- NAV ----------------------*/

.navbar, #nav-bar-white{
	width: 100%;
	height: 105px;
	box-sizing: border-box;
	margin: 0;
	padding: 40px 0 15px 80px;
	overflow: auto;
	position: fixed;
	z-index: 1;
}

.menu, .menu.white{
	width: 99%;
	display: flex;
	justify-content: space-between;
}

.left, .left.white{
	width: 5%;
}

.right, .right.white{
	width: 49%;
	justify-content: flex-end;
}

/*links del menu*/
.option{ 
	text-decoration: none;
	color: white;
	padding: 2% 4% 0 4%;
	font-size: 20px;
}

#option5{
	padding: 1.5% 3%;
	border: 1px solid white;
	border-radius: 10px;
}

/*hover del link*/

.option.white{
	color: #333447;
}

#nav-bar-white{
	background-color: white;
}

#option5-white{
	padding: 1.5% 3%;
	margin-right: 2%;
	border: 1px solid #728099;
	border-radius: 10px;
}

#option6-white{
	padding: 1.5% 3%;
	color: #FF00BF;
	border: 1px solid #FF00BF;
	border-radius: 10px;
}

/*-------------- HEADER --------------------*/
.header{
	width: 100%;
	height: auto;
	position: relative;
	top: 0px; 
	left: 0px;
}

.video{
	position: relative; 
	top: 0px; 
	left: 0px;
}

#video-background{ 
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto; 
	overflow: hidden;
}

/*formulario*/
.formulario{
	width: 40%;
	box-sizing: border-box;
	padding: 4% 4% 3% 4%;
	position: absolute;
	top: 105px;
	right: 0;
	background: white;
}
.columna{
	display: flex;
	flex-direction: column;
}

.purple{
	color: #352384;
}

#title{
	font-size: 38px;
	font-weight: bold;
}

span{
	padding: 0;
	margin: 0;
}

#sub-title{
	font-size: 15px;
	font-weight: bold;
	padding: 2% 0;
}

.date{
	padding: 2% 1%;
	margin: 3% 0;
	font-size: 15px;
	border: 1px solid #FFFFFF;
	border-bottom: 1.9px solid #2B1E66;
}

.down{
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
}

.botonSend{
	padding: 3.5% 4%;
	background: #FF00BF;
	color: white;
	font-size: 16px;
	border-radius: 9px;
	border: 1px solid #FF00BF;
}

.text-form{
	color: #728099;
}

/*enlACE*/
.singUp{
	padding: 3.5% 5.5%;
}

.parrafos{
	margin-top: 5%;
	font-size: 10px;
}

.header .down .parrafos p{
	padding-top: 3%;
}


/*------------------- INFORMACION --------------------------*/
.infoSection{
	width: 100%;
	display: flex;
	background: linear-gradient(#76278f,#2B1E66);
}

.infoTexto, .infoPicture{
	width: 50%;
	padding: 5% 10%;
	display: flex;
	flex-direction: column;
}

.infoTexto{
	padding: 6% 2% 5% 10%;
}

.infoPicture{
	padding: 5% 10% 5% 6%;
}

.info.title.text-uppercase, .info.text{
	color: white;
}

.info.title.text-uppercase{
	font-size: 30px;
	font-weight: bold;
}

#info-title-uno, #info-title-dos, #info-title-cuatro{
	margin-bottom: 15px;
}

#info-text-dos, #info-text-cuatro{
	margin-bottom: 60px;
}

/*------------------ FOOTER ---------------------------*/
footer{
	width: 100%;
	background: #333447;
	color: white;
}

/*enlaces y logos*/
.primero{
	width: 100%;
	padding: 5% 11% 3% 11%;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
}

.item-footer{
	width: 26%;
}

.item-footer.logos{
	width: 30%;
	display: flex;
	flex-direction: column;
}

li{
	list-style: none;
}

.enlace{
	text-decoration: none;
	color: white;
}

/*hover de los enlaces*/
.enlace:hover{
	color: #FF00BF;
}

.negritas{
	font-weight: bold;
}

.logos{
	width: 130px;
}

.mb-logos{
	margin-bottom: 15px;
}

.mt-logos{
	margin-top: 15px;
}

/*redes sociales*/
.redesSociales{
	padding: 0 40%;
	display: flex;
	justify-content: space-around;
}

.social-net{
	width: 40px;
	height: 40px;
	background: #333447;
	border-radius: 50%;
	border: 1px solid white;
}

.fa{
	font-size: 20px;
	color: white;
}

/*linea*/
.line{
	width: 100%;
	padding: 3% 20%;
	box-sizing: border-box;
}

.largeLine{
	width: 100%;
	margin: 0;
	color: white;
}

.copyright{
	width: 100%;
	text-align: center;
	padding-bottom: 4%;
}

